*{
    outline: red;
    border: red;
}
body {
    background-image: url(../images/pattern.jpg);
    background-repeat: repeat;
    margin: auto 0;
}
#home{
    background-image: url(/images/bgimage.jpg);
    background-repeat: no-repeat;
}
small{
    font-size: 0.5em;
}
.flexbox-container{
    border: 1px solid #fff;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
}


button a {
    color: #fff;
    font-weight: lighter;
    
}
#choices {
    list-style-type: none;
}
a{
    text-decoration: none;
    color:cadetblue;
}
a:hover{
    font-weight: bold;
    color: cadetblue;
    text-decoration: underline;
}

div.carousel-item p a{
    font-family:'Times New Roman', Times, serif;
    color:chartreuse;
    font-weight:bold;
}

.footer {
    background: white;
    color:#fff;
}


@media only screen and (max-width:576px) {
    #information, #left, #right{
        display:none;
    }
}
@media only screen and (min-width: 768px){
    #information{
        display:none;
    }
   
}
@media only screen and (max-width:900px){
    #loginRight{
        display:none;
    }
}
@media only screen and (max-width:900px){
    #other{
        width:100%
    }
}
