body {
    background-image: url(../images/pattern.jpg);
    background-repeat: repeat;
}
small{
    font-size: 0.5em;
}
.flexbox-container{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}